<div class="row">
  <div class="col-md-2">
    <h2>Dummy Header</h2>
    <p>dummy text</p>
    <p><a class="btn btn-default" href="#" role="button">View Details</a></p>
  </div>
  <div class="col-md-2">
    <h2>Dummy Header</h2>
    <p>Movies will be inserted here</p>
    <p><a class="btn btn-default" href="#" role="button">View Details</a></p>
  </div>
  <div class="col-md-2">
    <h2>Dummy Header</h2>
    <p>Movies will be inserted here</p>
    <p><a class="btn btn-default" href="#" role="button">View Details</a></p>
  </div>
  <div class="col-md-2">
    <h2>Dummy Header</h2>
    <p>Movies will be inserted here</p>
    <p><a class="btn btn-default" href="#" role="button">View Details</a></p>
  </div>
  <div class="col-md-2">
    <h2>Dummy Header</h2>
    <p>Movies will be inserted here</p>
    <p><a class="btn btn-default" href="#" role="button">View Details</a></p>
  </div>
  <div class="col-md-2">
    <h2>Dummy Header</h2>
    <p>Movies will be inserted here</p>
    <p><a class="btn btn-default" href="#" role="button">View Details</a></p>
  </div>
</div>
